#  Military Data Extraction Code

![](The-World's-Military-Spendings---cover---72dpi-fcaa.jpg)

# Importing Dependencies

In [ ]:
from lib2to3.pgen2 import driver    
from selenium import webdriver      
import pandas as pd
from openpyxl.workbook import workbook
from webdriver_manager.chrome import ChromeDriverManager
import warnings
warnings.filterwarnings("ignore", category = DeprecationWarning)
warnings.filterwarnings("ignore", category = FutureWarning)

In [2]:
# storing webdriver in a variable to get in webpage
driver = webdriver.Chrome(ChromeDriverManager().install())

# Extracting list of Country By Level of Military Expenditure

In [3]:
# opening webpage
driver.get('https://en.wikipedia.org/wiki/List_of_countries_by_number_of_military_and_paramilitary_personnel')
driver.maximize_window()

In [4]:
country = driver.find_elements_by_xpath('//table/tbody/tr/td/a')

activemilitary = driver.find_elements_by_xpath('//table/tbody/tr/td[3]')
 
reservemilitary = driver.find_elements_by_xpath('//table/tbody/tr/td[4]')

paramilitary = driver.find_elements_by_xpath('//table/tbody/tr/td[5]')

totalsoldiers = driver.find_elements_by_xpath('//table/tbody/tr/td[6]')

percapitatotalthousand = driver.find_elements_by_xpath('//table/tbody/tr/td[7]')

percapitaactivethousand = driver.find_elements_by_xpath('//table/tbody/tr/td[8]')  
                                                        
my_result_1=[] #Creating empty list to append later
#print(len(totalsoldiers))
for i in range(len(totalsoldiers)):
    Temporary_data_1 = {'country':country[i].text,
    'active military':activemilitary[i].text,
    'reserve military':reservemilitary[i].text,
    'paramilitary':paramilitary[i].text,
    'total soldiers': totalsoldiers[i].text,
    'Per 1,000 capita(total)':percapitatotalthousand[i].text,
    'Per 1,000 capita(active)':percapitaactivethousand[i].text
    }
    my_result_1.append(Temporary_data_1)

# Extracting list of Country By Level of Military Expenditure

In [5]:
# opening webpage
driver.get('https://en.wikipedia.org/wiki/List_of_countries_by_military_expenditures')
driver.maximize_window()

In [6]:
country = driver.find_elements_by_xpath('//table[2]/tbody/tr/td/a')

MilitarySpending = driver.find_elements_by_xpath('//table[2]/tbody/tr/td[2]')
 
Population = driver.find_elements_by_xpath('//table[2]/tbody/tr/td[3]')

MilitarySpending_per_capita = driver.find_elements_by_xpath('//table[2]/tbody/tr/td[4]')

GDP_Billion = driver.find_elements_by_xpath('//table[2]/tbody/tr/td[5]')

GDP_Percentage = driver.find_elements_by_xpath('//table[2]/tbody/tr/td[6]')

my_result_2=[] #Creating empty list to append later
#print(len(MilitarySpending))
for i in range(len(MilitarySpending)):
    Temporary_data_2 = {'country':country[i].text,
    'MilitarySpending':MilitarySpending[i].text,
    'Population':Population[i].text,
    'Military_Spending(Per_Capita)':MilitarySpending_per_capita[i].text,                 
    'GDP(Billion)':GDP_Billion[i].text,
    'GDP_Percentage':GDP_Percentage[i].text
    }                 
    
    my_result_2.append(Temporary_data_2)

# Extracting list of Country By Level of Military Equipment

In [7]:
# opening webpage
driver.get('https://en.wikipedia.org/wiki/List_of_countries_by_level_of_military_equipment')
driver.maximize_window()

In [8]:
country = driver.find_elements_by_xpath('//table[2]/tbody/tr/td/a')

MilitaryBudget = driver.find_elements_by_xpath('//table[2]/tbody/tr/td[3]')
 
MainBattleTank = driver.find_elements_by_xpath('//table[2]/tbody/tr/td[4]')

AircraftCarriers = driver.find_elements_by_xpath('//table[2]/tbody/tr/td[5]')

AWS = driver.find_elements_by_xpath('//table[2]/tbody/tr/td[6]')

Cruisers = driver.find_elements_by_xpath('//table[2]/tbody/tr/td[7]')

Destroyers = driver.find_elements_by_xpath('//table[2]/tbody/tr/td[8]')  

Frlgates = driver.find_elements_by_xpath('//table[2]/tbody/tr/td[9]') 

Corvettes = driver.find_elements_by_xpath('//table[2]/tbody/tr/td[10]') 

NuclearSubmarine = driver.find_elements_by_xpath('//table[2]/tbody/tr/td[11]') 

NonNuclearSubmarine = driver.find_elements_by_xpath('//table[2]/tbody/tr/td[12]') 

MilitaryAircarft = driver.find_elements_by_xpath('//table[2]/tbody/tr/td[13]') 

AttackHelicopters = driver.find_elements_by_xpath('//table[2]/tbody/tr/td[14]') 

NuclearWeapons = driver.find_elements_by_xpath('//table[2]/tbody/tr/td[15]') 

MillatarySatellite = driver.find_elements_by_xpath('//table[2]/tbody/tr/td[16]') 

my_result_3=[] #Creating empty list to append later
#print(len(MilitaryBudget))
for i in range(len(MilitaryBudget)):
    Temporary_data_3 = {'country':country[i].text,
    'MilitaryBudget':MilitaryBudget[i].text,
    'MainBattleTank':MainBattleTank[i].text,
    'AircraftCarriers':AircraftCarriers[i].text,
    'AWS':AWS[i].text,
    'Cruisers':Cruisers[i].text,
    'Destroyers':Destroyers[i].text,
    'Frlgates':Frlgates[i].text,
    'Corvettes':Corvettes[i].text,
    'NuclearSubmarine':NuclearSubmarine[i].text, 
    'NonNuclearSubmarine':NonNuclearSubmarine[i].text,  
    'MilitaryAircarft':MilitaryAircarft[i].text, 
    'AttackHelicopters':AttackHelicopters[i].text, 
    'NuclearWeapons':NuclearWeapons[i].text, 
    'MillatarySatellite':MillatarySatellite[i].text                   
    }
    my_result_3.append(Temporary_data_3)

In [9]:
# converting to dataframe
df_data_1 =pd.DataFrame(my_result_1)
df_data_2 =pd.DataFrame(my_result_2)
df_data_3 =pd.DataFrame(my_result_3)

In [10]:
# saving data
df_data_1.to_excel('my_result_1.xlsx',index=False)
df_data_2.to_excel('my_result_2.xlsx',index=False)
df_data_3.to_excel('my_result_3.xlsx',index=False)

# Data Manipulation

In [ ]:
# Did Some Data Cleaning in Excel Now Moving Forward To Prepare Data

In [1]:
import pandas as pd
df1 = pd.read_excel('my_result_1.xlsx')
df2 = pd.read_excel('my_result_2.xlsx')
df3 = pd.read_excel('my_result_3.xlsx')

In [2]:
# first Five Columns of dataset
df1.head(5)

,country,active military,reserve military,paramilitary,total soldiers,"Per 1,000 capita(total)","Per 1,000 capita(active)"
0,Afghanistan,250000,75000,170000,495000,14.2,7.2
1,Albania,8000,0,0,8000,2.6,2.6
2,Algeria,130000,150000,187200,467200,11.2,3.1
3,Angola,107000,0,10000,117000,3.9,3.5
4,Antigua and Barbuda,180,80,0,260,2.7,1.9

In [6]:
# Data Information
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country                   172 non-null    object
 1   active military           172 non-null    int64
 2   reserve military          172 non-null    int64
 3   paramilitary              172 non-null    int64
 4   total soldiers            172 non-null    int64
 5   Per 1,000 capita(total)   172 non-null    float64
 6   Per 1,000 capita(active)  172 non-null    float64
dtypes: float64(2), int64(4), object(1)
memory usage: 9.5+ KB

In [27]:
# Shape of Datset
df1.shape

(172, 7)

In [8]:
# Checking Null Values
df1.isnull().sum()

country                     0
active military             0
reserve military            0
paramilitary                0
total soldiers              0
Per 1,000 capita(total)     0
Per 1,000 capita(active)    0
dtype: int64

In [3]:
# first Five Columns of dataset
df2.head(5)

,country,MilitarySpending,Population,Military_Spending(Per_Capita),GDP(Billion),GDP_Percentage
0,Afghanistan,12.00,40754388,294.45,19.54,61.40
1,Albania,0.25,2866374,87.22,13.04,1.92
2,Algeria,13.00,45350148,286.66,167.56,7.76
3,Angola,7.00,35027343,199.84,122.12,5.73
4,Argentina,4.20,46010234,91.28,637.43,0.66

In [9]:
# Data Information
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   country                        136 non-null    object
 1   MilitarySpending               136 non-null    float64
 2   Population                     136 non-null    int64
 3   Military_Spending(Per_Capita)  136 non-null    float64
 4   GDP(Billion)                   130 non-null    float64
 5   GDP_Percentage                 130 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 6.5+ KB

In [28]:
# Shape of Datset
df2.shape

(136, 6)

In [12]:
# Checking Null Value
df2.isnull().sum()

country                          0
MilitarySpending                 0
Population                       0
Military_Spending(Per_Capita)    0
GDP(Billion)                     6
GDP_Percentage                   6
dtype: int64

In [13]:
# Replacing Null Values
df2.fillna(0, inplace = True)

In [14]:
# Re-checking Null Values
df2.isnull().sum()

country                          0
MilitarySpending                 0
Population                       0
Military_Spending(Per_Capita)    0
GDP(Billion)                     0
GDP_Percentage                   0
dtype: int64

In [4]:
# first Five Columns of dataset
df3.head(5)

,country,MilitaryBudgetAnnual,MainBattleTank,AircraftCarriers,AWS,Cruisers,Destroyers,Frlgates,Corvettes,NuclearSubmarine,NonNuclearSubmarine,MilitaryAircarft,AttackHelicopters,NuclearWeapons,MillatarySatellite
0,Afghanistan,2.0100,444,0,0,0,0,0,0,0,0,0,0,0,0
1,Albania,0.1870,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Algeria,9.9200,1496,0,4,0,0,5,3,0,6,133,45,0,0
3,Angola,1.0400,300,0,0,0,0,0,0,0,0,97,56,0,0
4,Antigua and Barbuda,0.0072,0,0,0,0,0,0,0,0,0,0,0,0,0

In [10]:
# Data Information
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   country               154 non-null    object
 1   MilitaryBudgetAnnual  153 non-null    float64
 2   MainBattleTank        154 non-null    int64
 3   AircraftCarriers      154 non-null    int64
 4   AWS                   154 non-null    int64
 5   Cruisers              154 non-null    int64
 6   Destroyers            154 non-null    int64
 7   Frlgates              154 non-null    int64
 8   Corvettes             154 non-null    int64
 9   NuclearSubmarine      154 non-null    int64
 10  NonNuclearSubmarine   154 non-null    int64
 11  MilitaryAircarft      154 non-null    int64
 12  AttackHelicopters     154 non-null    int64
 13  NuclearWeapons        154 non-null    int64
 14  MillatarySatellite    154 non-null    int64
dtypes: float64(1), int64(13), object(1)
memory usage: 18.2+ KB

In [29]:
# Shape of Datset
df3.shape

(154, 15)

In [11]:
# Checking Null Value
df3.isnull().sum()

country                 0
MilitaryBudgetAnnual    1
MainBattleTank          0
AircraftCarriers        0
AWS                     0
Cruisers                0
Destroyers              0
Frlgates                0
Corvettes               0
NuclearSubmarine        0
NonNuclearSubmarine     0
MilitaryAircarft        0
AttackHelicopters       0
NuclearWeapons          0
MillatarySatellite      0
dtype: int64

In [15]:
# Replacing Null Values
df3.fillna(0, inplace = True)

In [16]:
# Re-checking Null Values
df3.isnull().sum()

country                 0
MilitaryBudgetAnnual    0
MainBattleTank          0
AircraftCarriers        0
AWS                     0
Cruisers                0
Destroyers              0
Frlgates                0
Corvettes               0
NuclearSubmarine        0
NonNuclearSubmarine     0
MilitaryAircarft        0
AttackHelicopters       0
NuclearWeapons          0
MillatarySatellite      0
dtype: int64

# Merging Data

In [ ]:
# As I Know Country Column is Primary Key of All Dataset.....I can Do Inner Join To Merge All excel Sheet in One.

In [17]:
# Inner Join
join_1 = pd.merge(df1, df3, on = ['country'], how = 'inner')

In [18]:
# Mereged df1 and df3 dataset
join_1.head()

,country,active military,reserve military,paramilitary,total soldiers,"Per 1,000 capita(total)","Per 1,000 capita(active)",MilitaryBudgetAnnual,MainBattleTank,AircraftCarriers,...,Cruisers,Destroyers,Frlgates,Corvettes,NuclearSubmarine,NonNuclearSubmarine,MilitaryAircarft,AttackHelicopters,NuclearWeapons,MillatarySatellite
0,Afghanistan,250000,75000,170000,495000,14.2,7.2,2.0100,444,0,...,0,0,0,0,0,0,0,0,0,0
1,Albania,8000,0,0,8000,2.6,2.6,0.1870,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Algeria,130000,150000,187200,467200,11.2,3.1,9.9200,1496,0,...,0,0,5,3,0,6,133,45,0,0
3,Angola,107000,0,10000,117000,3.9,3.5,1.0400,300,0,...,0,0,0,0,0,0,97,56,0,0
4,Antigua and Barbuda,180,80,0,260,2.7,1.9,0.0072,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
# Converting To Excel
join_1.to_excel('join_1.xlsx')

In [23]:
join_df = pd.read_excel('join_1.xlsx')

In [24]:
# Merging all data
join_2 = pd.merge(join_1, df2, on = ['country'], how = 'inner' )

In [25]:
# Merged Data
join_2.head()

,country,active military,reserve military,paramilitary,total soldiers,"Per 1,000 capita(total)","Per 1,000 capita(active)",MilitaryBudgetAnnual,MainBattleTank,AircraftCarriers,...,NonNuclearSubmarine,MilitaryAircarft,AttackHelicopters,NuclearWeapons,MillatarySatellite,MilitarySpending,Population,Military_Spending(Per_Capita),GDP(Billion),GDP_Percentage
0,Afghanistan,250000,75000,170000,495000,14.2,7.2,2.010,444,0,...,0,0,0,0,0,12.00,40754388,294.45,19.54,61.40
1,Albania,8000,0,0,8000,2.6,2.6,0.187,0,0,...,0,0,0,0,0,0.25,2866374,87.22,13.04,1.92
2,Algeria,130000,150000,187200,467200,11.2,3.1,9.920,1496,0,...,6,133,45,0,0,13.00,45350148,286.66,167.56,7.76
3,Angola,107000,0,10000,117000,3.9,3.5,1.040,300,0,...,0,97,56,0,0,7.00,35027343,199.84,122.12,5.73
4,Argentina,72100,0,31250,103350,2.3,1.6,2.910,231,0,...,1,72,0,0,0,4.20,46010234,91.28,637.43,0.66

In [30]:
# merged data information
join_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122 entries, 0 to 121
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   country                        122 non-null    object
 1   active military                122 non-null    int64
 2   reserve military               122 non-null    int64
 3   paramilitary                   122 non-null    int64
 4   total soldiers                 122 non-null    int64
 5   Per 1,000 capita(total)        122 non-null    float64
 6   Per 1,000 capita(active)       122 non-null    float64
 7   MilitaryBudgetAnnual           122 non-null    float64
 8   MainBattleTank                 122 non-null    int64
 9   AircraftCarriers               122 non-null    int64
 10  AWS                            122 non-null    int64
 11  Cruisers                       122 non-null    int64
 12  Destroyers                     122 non-null    int64
 13  Frlgates                       122 non-null    int64
 14  Corvettes                      122 non-null    int64
 15  NuclearSubmarine               122 non-null    int64
 16  NonNuclearSubmarine            122 non-null    int64
 17  MilitaryAircarft               122 non-null    int64
 18  AttackHelicopters              122 non-null    int64
 19  NuclearWeapons                 122 non-null    int64
 20  MillatarySatellite             122 non-null    int64
 21  MilitarySpending               122 non-null    float64
 22  Population                     122 non-null    int64
 23  Military_Spending(Per_Capita)  122 non-null    float64
 24  GDP(Billion)                   122 non-null    float64
 25  GDP_Percentage                 122 non-null    float64
dtypes: float64(7), int64(18), object(1)
memory usage: 25.7+ KB

In [31]:
# Checking Null Values
join_2.isnull().sum()

country                          0
active military                  0
reserve military                 0
paramilitary                     0
total soldiers                   0
Per 1,000 capita(total)          0
Per 1,000 capita(active)         0
MilitaryBudgetAnnual             0
MainBattleTank                   0
AircraftCarriers                 0
AWS                              0
Cruisers                         0
Destroyers                       0
Frlgates                         0
Corvettes                        0
NuclearSubmarine                 0
NonNuclearSubmarine              0
MilitaryAircarft                 0
AttackHelicopters                0
NuclearWeapons                   0
MillatarySatellite               0
MilitarySpending                 0
Population                       0
Military_Spending(Per_Capita)    0
GDP(Billion)                     0
GDP_Percentage                   0
dtype: int64

In [32]:
# converting final data to excelsheet
join_2.to_excel('Final.xlsx', index=False)